@font-face {
  font-family: montserrat;
  src: url("../src/assets//font/Montserrat-VariableFont_wght.ttf");
  font-weight: 500
}
@import 'tailwindcss';



@theme{
  --color-primary: #029834;
  --color-lightGray: #c4c4c4;

  --font-montserrat: montserrat, "sans-serif"
}